@media (min-width:1200px) and (max-width: 1450px) {
  .header-logo {
    width: 130px;
  }

  .head_txt {
    font-size: 50px;
  }

  .sl_txt {
    font-size: 14px;
  }

  .nav-item {
    margin-left: 45px;
  }

  .nav-link {
    font-size: 16px;
  }

  .contact-logo_top {
    height: 27px;
    margin: 8px;
  }
}

@media (min-width: 1130px) and (max-width: 1199px) {
  .header-logo {
    width: 130px;
  }
  .head_txt {
    font-size: 40px;
  }
  .sl_txt {
    font-size: 13px;
  }
  .nav-item {
    margin-left: 40px;
  }
  .nav-link {
    font-size: 14px;
  }
  .contact-logo_top {
    height: 25px;
    margin: 8px;
  }
  button {
    padding: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1129px) {
  .header-logo {
    width: 120px;
  }

  .head_txt {
    font-size: 40px;
  }

  .sl_txt {
    font-size: 11px;
  }

  .nav-item {
    margin-left: 33px;
  }

  .nav-link {
    font-size: 13px;
  }

  .contact-logo_top {
    height: 23px;
    margin: 8px;
  }

  button {
    padding: 15px;
  }
}

@media (min-width: 800px) and (max-width: 992px) {
  .head_txt {
    font-size: 35px;
    margin: auto;
  }

  button {
    padding: 15px;
  }
}

@media (min-width: 733px) and (max-width: 800px) {
  .head_txt {
    font-size: 40px;
  }

  button {
    padding: 13px;
  }
}

@media (min-width: 600px) and (max-width: 732px) {
  .head_txt {
    font-size: 40px;
  }

  .sl_txt {
    font-size: 14px;
    align-self: center;
  }

  button {
    padding: 10px;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .header-logo {
    width: 120px;
  }

  .head_txt {
    font-size: 27px;
  }

  button {
    padding: 5px;
  }

  .sl_txt {
    font-size: 13px;
    align-self: center;
  }


  .us_txt {
    font-size: 23px;
  }
}

@media (min-width: 470px) and (max-width: 499px) {
  .header-logo {
    width: 120px;
  }

  .head_txt {
    font-size: 27px;
  }


  button {
    padding: 10px;
  }

  .navbar-brand {
    margin-right: 5px;
  }

  .sl_txt {
    font-size: 13px;
    align-self: center;
  }

  .vline {
    width: 1px;
  }

  .us_txt {
    font-size: 23px;
  }
}

@media (min-width: 425px) and (max-width: 470px) {

  .header-logo {
    width: 110px;
  }

  .head_txt {
    font-size: 27px;
  }


  button {
    padding: 10px;
  }

  .navbar-brand {
    margin-right: 5px;
  }

  .sl_txt {
    font-size: 12px;
    align-self: center;
  }

  .vline {
    width: 1px;
  }

  .us_txt {
    font-size: 23px;
  }

  .card-img-top {
    height: 140px;
    width: 240px;
  }
}

@media (min-width: 400px) and (max-width: 425px) {
  .navbar-brand {
    margin-right: 0.5rem;
  }

  .header-logo {
    width: 110px;
  }

  .head_txt {
    font-size: 27px;
  }

  button {
    padding: 8px;
  }

  .sl_txt {
    font-size: 13px;
    align-self: center;
    width: 150px;
  }


  .us_txt {
    font-size: 23px;
  }

  .card-img-top {
    height: 140px;
    width: 230px;
  }
}

@media (min-width: 350px) and (max-width: 399px) {
  .navbar-brand {
    margin-right: 0.5rem;
  }

  .header-logo {
    width: 120px;
  }

  .head_txt {
    font-size: 27px;
    margin: auto;
  }

  button {
    padding: 6px;
  }

  .vline {
    margin-right: 0.5rem;
  }

  .sl_txt {
    font-size: 12px;
    width: 130px;
    /* display: none; */
  }


  .us_txt {
    font-size: 23px;
  }

  .card-img-top {
    height: 100px;
    width: 160px;
  }

  .sl__zag {
    font-size: 16px;
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  .navbar-brand {
    margin-right: 0.5rem;
  }

  .header-logo {
    width: 120px;
  }

  .head_txt {
    font-size: 24px;
    margin: auto;
  }

  .vline {
    margin-right: 0.5rem;
  }

  button {
    padding: 6px;
  }

  .sl_txt {
    font-size: 15px;
    width: 130px;
  }

  .us_txt {
    font-size: 20px;
  }

  .card-img-top {
    height: 100px;
    width: 160px;
  }

  .card-text {
    font-size: 12px;
  }

  .sl__zag {
    font-size: 16px;
  }
}

@media (min-width: 250px) and (max-width: 300px) {
  .navbar-brand {
    margin-right: 0.5rem;
  }

  .header-logo {
    width: 120px;
  }

  .head_txt {
    font-size: 22px;
    margin: auto;
  }

  button {
    padding: 6px;
  }

  .vline {
    margin-right: 0.5rem;
  }

  .sl_txt {
    font-size: 10px;
    width: 110px;
  }

  .us_txt {
    font-size: 20px;
  }

  .card-img-top {
    height: 90px;
    width: 150px;
  }

  .card-text {
    font-size: 12px;
  }

  .teach {
    font-size: 16px;
  }

  .sl__zag {
    font-size: 16px;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .head_txt {
    font-size: 40px;
  }

}

/* FOOTER */
@media (min-width: 992px) and (max-width: 1100px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}

@media (min-width: 250px) and (max-width: 991px) {
  .location {
    height: 1000px;
  }

  .map {
    padding-top: 10px;
  }

  .head_txt {
    margin-left: 10px;
  }
}

@media (min-width: 420px) and (max-width: 580px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}

@media (min-width: 400px) and (max-width: 419px) {
  iframe {
    width: 370px;
    height: 290px;
  }
}

@media (min-width: 370px) and (max-width: 399px) {
  iframe {
    width: 350px;
    height: 290px;
  }
}

@media (min-width: 355px) and (max-width: 369px) {
  iframe {
    width: 300px;
    height: 280px;
  }
}

@media (min-width: 340px) and (max-width: 355px) {
  iframe {
    width: 300px;
    height: 260px;
  }
}

@media (min-width: 320px) and (max-width: 349px) {
  iframe {
    width: 280px;
    height: 250px;
  }
}

@media (min-width: 302px) and (max-width: 319px) {
  iframe {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 250px) and (max-width: 301px) {
  iframe {
    width: 200px;
    height: 250px;
  }
}

/* FOOTER END */


@media (min-width: 250px) and (max-width: 991px) {
  .nav-item {
    margin-left: 0;
  }

}


/*             SLIDER         */
@media (min-width: 450px) and (max-width: 500px) {
  .sl__zag {
    font-size: 18px;
  }

  .sl__desc {
    font-size: 16px;
  }
}

@media (min-width: 400px) and (max-width: 449px) {
  .sl__zag {
    font-size: 17px;
  }

  .sl__desc {
    font-size: 15px;
  }
}

/* SLIDER END */



/* Заявка при адабтивке */

@media (min-width: 0px) and (max-width: 1000px) {
  .inquiry {
    display: none;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .inquiry {
    width: 400px;
  }

}

@media (min-width: 1000px) and (max-width: 1600px) {
  .request {
    display: none;
  }
}

@media (min-width: 1001px) and (max-width: 1600px) {
  .inquiry_foot {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 1000px) {
  .head_txt {
    text-align: center;
    margin: auto;
  }
}

/* ПРИ ПОВОРАТЕ И МАСШТАБЕ */

@media screen and (max-width: 0px) {
  header {
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position-x: 50%;
  }
}

@media screen and (min-width: 1451px) {
  header {
    background-size: cover;
    height: 100vh;
    background-position-y: 100%;
  }

  .head_txt {
    font-size: 60px;
  }

  .inquiry {
    right: 60px;
  }

  .request {
    display: none;
  }

  .inquiry_foot {
    display: none;
  }
}

@media screen and (max-width: 750px) {

  .head_txt {
    margin: auto;
  }

  .request {
    margin-top: -120px;
  }
}


/* BODY background */
@media (min-width: 500px) and (max-width: 656px) {
  body {
    -moz-background-size: 600px;
    -webkit-background-size: 600px;
    -o-background-size: 600px;
    background-size: 600px;
  }
}

@media (min-width: 400px) and (max-width: 499px) {
  body {
    -moz-background-size: 460px;
    -webkit-background-size: 460px;
    -o-background-size: 460px;
    background-size: 460px;
  }
}

@media (min-width: 300px) and (max-width: 399px) {
  body {
    -moz-background-size: 360px;
    -webkit-background-size: 360px;
    -o-background-size: 360px;
    background-size: 360px;
  }
}

/* BODY BACKGROUND */