* {
  margin: 0;
  padding: 0;
}

.slider {
  margin-top: 300px;
  position: relative;
}

.slider__item {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.slider__img {
  position: absolute;
  margin-top: -200px;
  right: calc(50% - 200px);
}

.slider__content {
  background-color: #d2d2d2;
  width: 550px;
  height: 180px;
  padding-top: 170px;
  padding-bottom: 80px;
  border-radius: 5px;
  /* position: absolute;
  right: calc(50% - 275px);
  z-index: -1; */
}

.slider__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  padding-top: 50px;
}

.slider__text {
  padding-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}



.slick-list {
  overflow-x: clip;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.slider .slick-arrow.slick-next {
  right: 100px;
  background: url('../img/right.svg') 0 0 / 100% no-repeat;
  filter: #fff;
}

.slider .slick-arrow.slick-prev {
  left: 100px;
  background: url('../img/left.svg') 0 0 / 100% no-repeat;
}